.container {
  display: flex;
}

.video {
  flex-grow: 1;
}

.videoNav {
  width: 150px;
  margin-left: 20px;
}

.btnContainer {
  position: relative;
}

.btnContainer img {
  width: 100%;
  border: 1px solid lightgray;
}

.btnContainer .overlay {
  position: absolute;
  bottom: 10px;
  left: 0px;
  font-weight: bold;
  padding-left: 10px;
  color: white;
  background: rgba(46, 133, 85, .8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.btnContainer .overlay:hover {
  background: rgba(46, 133, 85, 1);
}

.btnContainer .overlay p {
  font-size: 13px;
  color: white;
  line-height: 14px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.videoNav p {
  padding: 0;
  margin: 0;
}

.selectBtn {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .videoNav {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    display: flex;
  }
  .listContainer {
    flex-grow: 1;
  }
  .nextItem {
    max-width: 220px;
    margin-right: 15px;
  }
}