.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.cardContainer {
  border: 1px solid #6B7280;
  border-radius: 5px;
  display: flex;
  min-height: 220px;
}

.sectionContainer {
  max-width: 600px;
  margin-top: 29px;
}

.sectionTitle {
  font-size: 32px;
  line-height: 48px;
  color: #1F2937;
  font-weight: 400;
  margin-bottom: 20px;
}

.bottomLabel {
  bottom: 16px;
  position: absolute;
}

.textCol {
  flex-grow: 1;
  position: relative;
  font-size: 20px;
  color: #3F3F46;
  font-weight: normal;
  padding: 18px;
} 

.textCol p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.cardContainer img{
  width: 192px;
  border-radius: 0px 4px 4px 0px;
}

@media screen and (max-width: 425px) {
  .sectionTitle {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .features {
    padding: 0.5rem 0;
    margin-bottom: 20px;
  }
  .sectionContainer {
    margin-top: 15px;
  }
  .textCol {
    font-size: 16px;
    padding: 14px;
  }
  .cardContainer {
    min-height: 100px;
  }
  .cardContainer img{
    width: 120px;
  }
  .bottomLabel {
    bottom: 8px;
  }
}