.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.cardContainer {
  border: 1px solid #6B7280;
  border-radius: 5px;
  display: flex;
  min-height: 220px;
  align-items: stretch;
}

.sectionContainer {
  max-width: 600px;
  margin-top: 29px;
}

.sectionTitle {
  font-size: 20px;
  line-height: 24px;
  color: #18181B;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 0;
}

.bottomLabel {
  position: absolute;
  bottom: 16px;
  font-size: 16px;
  padding: 0;
}

.textCol {
  flex-grow: 1;
  position: relative;
  font-size: 20px;
  color: #3F3F46;
  font-weight: normal;
  padding: 18px;
}

.textCol ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;  
}

.textCol ul li {
  font-size: 16px;
  font-weight: 400; 
}

.cardContainer img {
  height: 100%;
  width: 100%;
  max-width: 192px;
  object-fit: contain;
  border-radius: 0px 5px 5px 0px;
}

@media screen and (max-width: 425px) {
  .sectionTitle {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .features {
    padding: 0.5rem 0;
    margin-bottom: 20px;
  }

  .sectionContainer {
    margin-top: 15px;
  }

  .textCol {
    font-size: 16px;
    padding: 14px;
  }

  .cardContainer {
   min-height: 120px;
  }

  .textCol p {
    -webkit-line-clamp: 3;
  }

  .cardContainer img {
    max-width: 120px;
    object-fit: contain;
  }

  .bottomLabel {
    bottom: 8px;
  }
}