/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0 4rem 0;
  text-align: center;
  position: relative;
  background-image: url('/img/home_hero_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 369px;
}

.heroBanner h1,
.heroBanner h2 {
  color: white;
}

[data-theme='dark'] .heroBanner h1,
[data-theme='dark'] .heroBanner h2 {
  color: white;
}

.heroLogo {
  width: 80px;
  margin: auto;
  padding: 0 0 20px 0;
}

.heroTitle {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 35px;
}

.heroSubTitle {
  font-weight: 400;
  font-size: 32px;
  margin-top: 35px;
}

.searchContainer {
  font-size: 16px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  gap: 20px;
}

.button .button--primary {
  color: #fff !important;
}

.homeContent {
  z-index: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroSubTitle {
    font-size: 20px;
    margin-top: 35px;
  }

  .heroTitle {
    font-size: 26px;
    margin-bottom: 35px;
  }

  .heroBanner {
    min-height: 325px;
  }

  .buttons {
    grid-gap: 10px;
    gap: 10px;
  }
}
