.video {
  flex-grow: 1;
  max-height: 640px;
}

.btnContainer {
  position: relative;
}

.btnContainer img {
  width: 100%;
}

.btnContainer img:hover {
  border: 1px solid var(--ifm-color-primary);
}

.btnContainer .overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 5px;
  color: var(--ifm-color--lightest);
  background: var(--ifm-color-primary);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btnContainer .overlay:hover {
  background: var(--ifm-color-primary-darker);
}

.btnContainer .overlay p {
  font-size: 12px;
  color: white;
  line-height: 13px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainVidContainer {
  position: relative;
	padding-bottom: 52%;
	padding-top: 30px;
  margin: 0 45px 0 0;
	height: 0;
}

.videoNavContainer {
  position:relative;
  width: 640px;
  margin: 20px 5px;
}

.videoNav {
  max-width: 220px;
}

.videoNav p {
  padding: 0;
  margin: 0;
}

.vidItem {
  display: block;
	width: 148px;
	height: 148px;
	float: left;
	margin: 0;
	padding: 10px;
}

.vidThumb {
  overflow:hidden;
  height: 84px;
}

.vidThumb img {
	width: 100%;
	position: relative;
	top: -13px;
}

.vidItem .desc {
	color: #21A1D2;
	font-size: 15px;
	margin-top:5px;
}

.arrows {
  display: inline-block;
	position:relative;
	width: 100%;
}

.arrowleft {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	left: -25px;
	top: -130px;
	z-index: 99;
	cursor: pointer;
}

.arrowright {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	right: -25px;
	top: -130px;
	z-index:100;
	cursor: pointer;
}

@media (max-width: 624px) {
	.arrows {
		position:relative;
		margin: 0 auto;
		width:96px;
	}
	.arrowleft {
		left: 0;
		top: -20px;
	}

	.arrowright {
		right: 0;
		top: -20px;
	}
}


.selectBtn {
  width: 100%;
}

.videoNav {
  max-width: 220px;
}

.vidListContainer {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.vidList {
  position: relative;
  top: 0;
  left: 0;
  padding-right: 5%;
}

.vidItem {
  display:block;
}

.vidItemDown {
  opacity: 1;
  border: 2px solid var(--ifm-color-primary);
}

.vidItemUp {
  opacity: 0.3;
  border: 1px solid var(--ifm-color-secondary);
}

.thumb {
  margin-bottom: 10px;
  position: relative;
}

.thumb:hover img {
  opacity: 0.7;
}
